<section id="advantages" class="advantage-section">
  <div class="container">
    <div class="advantage-section-description-box">
      <h3 class="advantage-section-name-text">Переваги</h3>
      <h2 class="advantage-section-title">Чому обрати нас?</h2>
      <p class="advantage-section-text-description">
        Наші сумки виготовлені з екологічно чистих матеріалів, що забезпечують
        стійкість і довговічність. Обираючи EcoTote, ви підтримуєте екологічну
        відповідальність.
      </p>
    </div>
    <div class="advantage-section-image-box">
      <ul class="advantage-section-imagine-and-descriptoin-block">
        <li class="advantage-section-imagine-and-descriptoin-list picture-1">
          <img src="" alt="" />
          <picture>
            <source
              srcset="
                /img/advantages/desc/stability.webp    1x,
                /img/advantages/desc/stability@2x.webp 2x
              "
              media="(min-width: 1440px)"
              width="421"
              height="249"
            />
            <source
              srcset="
                /img/advantages/tablet/stability.webp    1x,
                /img/advantages/tablet/stability@2x.webp 2x
              "
              media="(min-width: 768px)"
              width="340"
              height="201"
            />
            <source
              srcset="
                /img/advantages/mobile/stability.webp    1x,
                /img/advantages/mobile/stability@2x.webp 2x
              "
              media="(max-width: 767px)"
              width="288"
              height="198"
            />
            <img
              src="/img/advantages/mobile/stability.webp"
              alt="Стійкість та екологічність"
              width="288"
              height="198"
              loading="lazy"
            />
          </picture>
          <h3 class="advantage-section-subtitle">Стійкість та екологічність</h3>
          <p class="advantage-section-text">
            Виготовлені з органічної бавовни та переробленого пластику.
          </p>
        </li>
        <li class="advantage-section-imagine-and-descriptoin-list picture-2">
          <picture>
            <source
              srcset="
                /img/advantages/desc/strength.webp    1x,
                /img/advantages/desc/strength@2x.webp 2x
              "
              media="(min-width: 1440px)"
              width="421"
              height="249"
            />
            <source
              srcset="
                /img/advantages/tablet/strength.webp    1x,
                /img/advantages/tablet/strength@2x.webp 2x
              "
              media="(min-width: 768px)"
              width="340"
              height="201"
            />
            <source
              srcset="
                /img/advantages/mobile/strength.webp    1x,
                /img/advantages/mobile/strength@2x.webp 2x
              "
              media="(max-width: 767px)"
              width="288"
              height="198"
            />
            <img
              src="/img/advantages/mobile/strength.webp"
              alt="Міцність і довговічність"
              width="288"
              height="198"
              loading="lazy"
            />
          </picture>
          <h3 class="advantage-section-subtitle">Міцність і довговічність</h3>
          <p class="advantage-section-text position">
            Наші сумки мають посилені шви для тривалого використання.
          </p>
        </li>
        <li class="advantage-section-imagine-and-descriptoin-list picture-3">
          <picture>
            <source
              srcset="
                /img/advantages/desc/style.webp    1x,
                /img/advantages/desc/style@2x.webp 2x
              "
              media="(min-width: 1440px)"
              width="421"
              height="249"
            />
            <source
              srcset="
                /img/advantages/tablet/style.webp    1x,
                /img/advantages/tablet/style@2x.webp 2x
              "
              media="(min-width: 768px)"
              width="340"
              height="201"
            />
            <source
              srcset="
                /img/advantages/mobile/style.webp    1x,
                /img/advantages/mobile/style@2x.webp 2x
              "
              media="(max-width: 767px)"
              width="288"
              height="198"
            />
            <img
              src="/img/advantages/mobile/style.webp"
              alt="Стильний та сучасний дизайн"
              width="288"
              height="198"
              loading="lazy"
            />
          </picture>
          <h3 class="advantage-section-subtitle">
            Стильний та сучасний дизайн
          </h3>
          <p class="advantage-section-text">
            Мінімалістичні моделі в обмежених серіях для кожного стилю.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
