<section class="advantage-section">
  <div class="container">
    <div class="advantage-section-description-box">
      <p class="advantage-section-name-text">Переваги</p>
      <h2 class="advantage-section-title">Чому обрати нас?</h2>
      <p class="advantage-section-text">
        Наші сумки виготовлені з екологічно чистих матеріалів, що забезпечують
        стійкість і довговічність. Обираючи EcoTote, ви підтримуєте екологічну
        відповідальність.
      </p>
    </div>
    <div class="advantage-section-image-box">
      <ul class="advantage-section-imagine-and-descriptoin-block">
        <li class="advantage-section-imagine-and-descriptoin-list">
          <picture>
            <source
              srcset="
                /img/advantages/desc/stability.png    1x,
                /img/advantages/desc/stability@2x.png 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                /img/advantages/tablet/stability.png    1x,
                /img/advantages/tablet/stability@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/advantages/mobile/stability.png    1x,
                /img/advantages/mobile/stability@2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="/img/advantages/mobile/stability.png"
              alt="Стійкість та екологічність"
            />
          </picture>
          <h3 class="advantage-section-subtitle">Стійкість та екологічність</h3>
          <p class="advantage-section-text">
            Виготовлені з органічної бавовни та переробленого пластику.
          </p>
        </li>
        <li class="advantage-section-imagine-and-descriptoin-list">
          <picture>
            <source
              srcset="
                /img/advantages/desc/strength.png    1x,
                /img/advantages/desc/strength@2x.png 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                /img/advantages/tablet/strength.png    1x,
                /img/advantages/tablet/strength@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/advantages/mobile/strength.png    1x,
                /img/advantages/mobile/strength@2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="/img/advantages/mobile/strength.png"
              alt="Міцність і довговічність"
            />
          </picture>
          <h3 class="advantage-section-subtitle">Міцність і довговічність</h3>
          <p class="advantage-section-text">
            Наші сумки мають посилені шви для тривалого використання.
          </p>
        </li>
        <li class="advantage-section-imagine-and-descriptoin-list">
          <picture>
            <source
              srcset="
                /img/advantages/desc/style.png    1x,
                /img/advantages/desc/style@2x.png 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                /img/advantages/tablet/style.png    1x,
                /img/advantages/tablet/style@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/advantages/mobile/style.png    1x,
                /img/advantages/mobile/style@2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="/img/advantages/mobile/style.png"
              alt="Стильний та сучасний дизайн"
            />
          </picture>
          <h3 class="advantage-section-subtitle">
            Стильний та сучасний дизайн
          </h3>
          <p class="advantage-section-text">
            Мінімалістичні моделі в обмежених серіях для кожного стилю.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
