<section class="feedbacks">
  <div class="feedbacks__container">
    <h2 class="feedbacks__title">Що говорять наші клієнти</h2>

    <ul class="feedbacks__list">
      <li class="feedbacks__item">
        <ul class="feedbacks__stars">
          <li class="feedbacks__star">
            <svg
              class="feedbacks__icon"
              viewBox="0 0 32 32"
              width="20"
              height="20"
            >
              <use href="/img/icon.svg#icon-star-fillled"></use>
            </svg>
          </li>
          <li class="feedbacks__star">
            <svg
              class="feedbacks__icon"
              viewBox="0 0 32 32"
              width="20"
              height="20"
            >
              <use href="/img/icon.svg#icon-star-fillled"></use>
            </svg>
          </li>
          <li class="feedbacks__star">
            <svg
              class="feedbacks__icon"
              viewBox="0 0 32 32"
              width="20"
              height="20"
            >
              <use href="/img/icon.svg#icon-star-fillled"></use>
            </svg>
          </li>
          <li class="feedbacks__star">
            <svg
              class="feedbacks__icon"
              viewBox="0 0 32 32"
              width="20"
              height="20"
            >
              <use href="/img/icon.svg#icon-star-fillled"></use>
            </svg>
          </li>
          <li class="feedbacks__star">
            <svg
              class="feedbacks__icon"
              viewBox="0 0 32 32"
              width="20"
              height="20"
            >
              <use href="/img/icon.svg#icon-star-fillled"></use>
            </svg>
          </li>
        </ul>

        <p class="feedbacks__text">
          Сумка дуже зручна та стильна, використовую щодня!
        </p>
        <p class="feedbacks__author">Анна</p>
      </li>

      <li class="feedbacks__item">
        <ul class="feedbacks__stars">
          <li class="feedbacks__star">
            <svg
              class="feedbacks__icon"
              viewBox="0 0 32 32"
              width="20"
              height="20"
            >
              <use href="/img/icon.svg#icon-star-fillled"></use>
            </svg>
          </li>
          <li class="feedbacks__star">
            <svg
              class="feedbacks__icon"
              viewBox="0 0 32 32"
              width="20"
              height="20"
            >
              <use href="/img/icon.svg#icon-star-fillled"></use>
            </svg>
          </li>
          <li class="feedbacks__star">
            <svg
              class="feedbacks__icon"
              viewBox="0 0 32 32"
              width="20"
              height="20"
            >
              <use href="/img/icon.svg#icon-star-fillled"></use>
            </svg>
          </li>
          <li class="feedbacks__star">
            <svg
              class="feedbacks__icon"
              viewBox="0 0 32 32"
              width="20"
              height="20"
            >
              <use href="/img/icon.svg#icon-star-fillled"></use>
            </svg>
          </li>
          <li class="feedbacks__star">
            <svg
              class="feedbacks__icon"
              viewBox="0 0 32 32"
              width="20"
              height="20"
            >
              <use href="/img/icon.svg#icon-star-fillled"></use>
            </svg>
          </li>
        </ul>

        <p class="feedbacks__text">
          Відмінна якість матеріалів, приємно здивована.
        </p>
        <p class="feedbacks__author">Ігор</p>
      </li>

      <li class="feedbacks__item">
        <ul class="feedbacks__stars">
          <li class="feedbacks__star">
            <svg
              class="feedbacks__icon"
              viewBox="0 0 32 32"
              width="20"
              height="20"
            >
              <use href="/img/icon.svg#icon-star-fillled"></use>
            </svg>
          </li>
          <li class="feedbacks__star">
            <svg
              class="feedbacks__icon"
              viewBox="0 0 32 32"
              width="20"
              height="20"
            >
              <use href="/img/icon.svg#icon-star-fillled"></use>
            </svg>
          </li>
          <li class="feedbacks__star">
            <svg
              class="feedbacks__icon"
              viewBox="0 0 32 32"
              width="20"
              height="20"
            >
              <use href="/img/icon.svg#icon-star-fillled"></use>
            </svg>
          </li>
          <li class="feedbacks__star">
            <svg
              class="feedbacks__icon"
              viewBox="0 0 32 32"
              width="20"
              height="20"
            >
              <use href="/img/icon.svg#icon-star-fillled"></use>
            </svg>
          </li>
          <li class="feedbacks__star">
            <svg
              class="feedbacks__icon"
              viewBox="0 0 32 32"
              width="20"
              height="20"
            >
              <use href="/img/icon.svg#icon-star-fillled"></use>
            </svg>
          </li>
        </ul>

        <p class="feedbacks__text">
          Сумка повністю відповідає опису, рекомендую!
        </p>
        <p class="feedbacks__author">Олена</p>
      </li>

      <li class="feedbacks__item">
        <ul class="feedbacks__stars">
          <li class="feedbacks__star">
            <svg
              class="feedbacks__icon"
              viewBox="0 0 32 32"
              width="20"
              height="20"
            >
              <use href="/img/icon.svg#icon-star-fillled"></use>
            </svg>
          </li>
          <li class="feedbacks__star">
            <svg
              class="feedbacks__icon"
              viewBox="0 0 32 32"
              width="20"
              height="20"
            >
              <use href="/img/icon.svg#icon-star-fillled"></use>
            </svg>
          </li>
          <li class="feedbacks__star">
            <svg
              class="feedbacks__icon"
              viewBox="0 0 32 32"
              width="20"
              height="20"
            >
              <use href="/img/icon.svg#icon-star-fillled"></use>
            </svg>
          </li>
          <li class="feedbacks__star">
            <svg
              class="feedbacks__icon"
              viewBox="0 0 32 32"
              width="20"
              height="20"
            >
              <use href="/img/icon.svg#icon-star-fillled"></use>
            </svg>
          </li>
          <li class="feedbacks__star">
            <svg
              class="feedbacks__icon"
              viewBox="0 0 32 32"
              width="20"
              height="20"
            >
              <use href="/img/icon.svg#icon-star"></use>
            </svg>
          </li>
        </ul>

        <p class="feedbacks__text">Швидка доставка та гарне обслуговування.</p>
        <p class="feedbacks__author">Сергій</p>
      </li>
    </ul>
  </div>
</section>
