<footer class="footer" id="footer">
  <div class="container footer__content">
    <div class="footer__content__nav">
      <nav class="footer__nav">
        <a href="/index.html">
          <img
            src="/img/company-logo.svg"
            alt="Eco Tote logo"
            class="footer__logo"
          />
        </a>
        <ul class="footer__nav-list">
          <li class="footer__nav-item">
            <a href="#about" class="footer__nav-item__link">Про нас</a>
          </li>
          <li class="footer__nav-item">
            <a href="#advantages" class="footer__nav-item__link">Переваги</a>
          </li>
          <li class="footer__nav-item">
            <a href="#assortment" class="footer__nav-item__link">Асортимент</a>
          </li>
          <li class="footer__nav-item">
            <a href="#gallery" class="footer__nav-item__link">Галерея</a>
          </li>
          <li class="footer__nav-item">
            <a href="#feedbacks" class="footer__nav-item__link">Відгуки</a>
          </li>
          <li class="footer__nav-item">
            <a href="#footer" class="footer__nav-item__link">Контакти</a>
          </li>
        </ul>
      </nav>

      <ul class="footer__social-list">
        <li class="footer__social-item">
          <a href="#" class="footer__social-link">
            <svg viewBox="0 0 32 32">
              <use href="/img/icon.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="footer__social-item">
          <a href="#" class="footer__social-link">
            <svg viewBox="0 0 32 32">
              <use href="/img/icon.svg#icon-linkedIn"></use>
            </svg>
          </a>
        </li>
        <li class="footer__social-item">
          <a href="#" class="footer__social-link">
            <svg viewBox="0 0 32 32">
              <use href="/img/icon.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <address class="footer__contacts">
      <ul class="footer__contacts-list">
        <li>
          <a href="tel:+380999091122" class="footer__contacts-link"
            >+38 (099) 909 11 22</a
          >
        </li>
        <li>
          <a href="mailto:hello@ecotote.com" class="footer__contacts-link"
            >hello@ecotote.com</a
          >
        </li>
      </ul>
    </address>

    <p class="footer__copyright">&copy; 2025 EcoTote. Всі права захищені.</p>
  </div>
</footer>
