<section class="section" id="gallery">
  <div class="container">
    <h2 class="gallery__title">Галерея зображень</h2>
    <h3 class="gallery__subtitle">EcoTotes у повсякденному житті</h3>
    <ul class="gallery__list">
      <li class="gallery__item-a">
        <picture>
          <source
            srcset="
              /img/gallery/descktop/room@1x.webp 1x,
              /img/gallery/descktop/room@2x.webp 2x
            "
            media="(min-width: 1440px)"
            width="421"
            height="421"
          />
          <source
            srcset="
              /img/gallery/tablet/room@1x.webp 1x,
              /img/gallery/tablet/room@2x.webp 2x
            "
            media="(min-width: 768px)"
            width="340"
            height="340"
          />
          <source
            srcset="
              /img/gallery/mobile/room@1x.webp 1x,
              /img/gallery/mobile/room@2x.webp 2x
            "
            media="(max-width: 767px)"
            width="288"
            height="288"
          />
          <img
            src="/img/gallery/mobile/room@1x.webp"
            alt="EcoTotes у кімнаті"
            width="288"
            height="288"
            loading="lazy"
          />
        </picture>
      </li>

      <li class="gallery__item-b">
        <picture>
          <source
            srcset="
              /img/gallery/descktop/city@1x.webp 1x,
              /img/gallery/descktop/city@2x.webp 2x
            "
            media="(min-width: 1440px)"
            width="421"
            height="865"
            class="gallery__item-b"
          />
          <source
            srcset="
              /img/gallery/tablet/city@1x.webp 1x,
              /img/gallery/tablet/city@2x.webp 2x
            "
            media="(min-width: 768px)"
            width="340"
            height="700"
          />
          <source
            srcset="
              /img/gallery/mobile/city@1x.webp 1x,
              /img/gallery/mobile/city@2x.webp 2x
            "
            media="(max-width: 767px)"
            width="288"
            height="288"
          />
          <img
            src="/img/gallery/mobile/city@1x.webp"
            alt="EcoTotes у місті"
            width="288"
            height="288"
            class="gallery__item-b"
            loading="lazy"
          />
        </picture>
      </li>

      <li class="gallery__item-c">
        <picture>
          <source
            srcset="
              /img/gallery/descktop/forest@1x.webp 1x,
              /img/gallery/descktop/forest@2x.webp 2x
            "
            media="(min-width: 1440px)"
            width="421"
            height="865"
            class="gallery__item-c"
          />
          <source
            srcset="
              /img/gallery/tablet/forest@1x.webp 1x,
              /img/gallery/tablet/forest@2x.webp 2x
            "
            media="(min-width: 768px)"
            width="340"
            height="700"
            
          />
          <source
            srcset="
              /img/gallery/mobile/forest@1x.webp 1x,
              /img/gallery/mobile/forest@2x.webp 2x
            "
            media="(max-width: 767px)"
            width="288"
            height="288"
          />
          <img
            src="/img/gallery/mobile/forest@1x.webp"
            alt="EcoTotes у лісі"
            width="288"
            height="288"
            class="gallery__item-c"
            loading="lazy"
          />
        </picture>
      </li>

      <li class="gallery__item-d">
        <picture>
          <source
            srcset="
              /img/gallery/descktop/market@1x.webp 1x,
              /img/gallery/descktop/market@2x.webp 2x
            "
            media="(min-width: 1440px)"
            width="421"
            height="421"
          />
          <source
            srcset="
              /img/gallery/tablet/market@1x.webp 1x,
              /img/gallery/tablet/market@2x.webp 2x
            "
            media="(min-width: 768px)"
            width="338"
            height="338"
          />
          <source
            srcset="
              /img/gallery/mobile/market@1x.webp 1x,
              /img/gallery/mobile/market@2x.webp 2x
            "
            media="(max-width: 767px)"
            width="288"
            height="288"
          />
          <img
            src="/img/gallery/mobile/market@1x.webp"
            alt="EcoTotes на ринку"
            width="288"
            height="288"
            loading="lazy"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
