<header class="page-header">
  <div class="header-container container">
    <a href="./index.html" class="header-logo-link">
      <img
        class="header-logo"
        src="../img/company-logo.svg"
        alt="Company Logo"
        width="84"
        height="36"
      />
    </a>
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a href="#about" class="header-nav-link">Про нас</a>
        </li>
        <li class="header-nav-item">
          <a href="#advantages" class="header-nav-link">Переваги</a>
        </li>
        <li class="header-nav-item">
          <a href="#assortment" class="header-nav-link">Асортимент</a>
        </li>
        <li class="header-nav-item">
          <a href="#gallery" class="header-nav-link">Галерея</a>
        </li>
        <li class="header-nav-item">
          <a href="#feedbacks" class="header-nav-link">Відгуки</a>
        </li>
        <li class="header-nav-item">
          <a href="#support" class="header-nav-link">Контакти</a>
        </li>
      </ul>
    </nav>
    <address class="header-contacts">
      <ul class="header-contacts-list">
        <li class="header-contacts-item">
          <a href="tel:+380999091122" class="header-contacts-link"
            >+38 (099) 909 11 22</a
          >
        </li>
        <li class="header-contacts-item">
          <a href="mailto:hello@ecotote.com" class="header-contacts-link"
            >hello@ecotote.com</a
          >
        </li>
      </ul>
    </address>
    <!-- #region burger-button -->
    <button class="burger-btn" type="button">
      <svg class="burger-icon" width="32" height="32">
        <use href="../img/icon.svg#icon-menu"></use>
      </svg>
    </button>
    <!-- #endregion burger-button -->
  </div>
</header>
<!-- #region mobile menu -->
<div class="mobile-menu">
  <div class="container mobile-menu-container">
    <button class="mobile-btn-close">
      <svg class="mobile-icon-close" width="32" height="32">
        <use href="../img/icon.svg#icon-close"></use>
      </svg>
    </button>
    <nav class="mobile-menu-nav">
      <a href="./index.html" class="mobile-logo-link">
        <img
          class="mobile-menu-logo"
          src="../img/company-logo.svg"
          alt="Company Logo"
          width="84"
          height="36"
        />
      </a>
      <ul class="mobile-nav-list">
        <li class="mobile-nav-item">
          <a href="#about" class="mobile-nav-link">Про нас</a>
        </li>
        <li class="mobile-nav-item">
          <a href="#advantages" class="mobile-nav-link">Переваги</a>
        </li>
        <li class="mobile-nav-item">
          <a href="#assortment" class="mobile-nav-link">Асортимент</a>
        </li>
        <li class="mobile-nav-item">
          <a href="#gallery" class="mobile-nav-link">Галерея</a>
        </li>
        <li class="mobile-nav-item">
          <a href="#feedbacks" class="mobile-nav-link">Відгуки</a>
        </li>
        <li class="mobile-nav-item">
          <a href="#support" class="mobile-nav-link">Контакти</a>
        </li>
      </ul>
    </nav>
    <address class="mobile-contacts">
      <ul class="mobile-contacts-list">
        <li class="mobile-contacts-item">
          <a href="tel:+380999091122" class="mobile-contacts-link"
            >+38 (099) 909 11 22</a
          >
        </li>
        <li class="mobile-contacts-item">
          <a href="mailto:hello@ecotote.com" class="mobile-contacts-link"
            >hello@ecotote.com</a
          >
        </li>
      </ul>
    </address>
  </div>
</div>
<!-- #endregion mobile menu  -->
