<section  class="section hero">
    <div class="container ">
        <div class="hero__container">
            <div class="hero__header">
                <h1 class="hero__title">EcoTote — Стиль, що не шкодить планеті</h1>
            </div>
            <div class="hero__content">
                <p class="hero__text">Екологічні сумки для тих, хто дбає про майбутнє. Обирайте стиль та відповідальність разом з EcoTote.</p>
                <a class="hero__button button-anim" href="#assortment">Купити зараз</a>
            </div>
        </div>
        <picture>
            <source media="(min-width: 1440px)" srcset="/img/hero/desc-hero.webp, /img/hero/desc-hero@2x.webp 2x">
            <source media="(min-width: 768px)" srcset="/img/hero/tab-hero.webp, /img/hero/tab-hero@2x.webp 2x">
            <source media="(max-width: 768px)" srcset="/img/hero/phone-hero.webp, /img/hero/phone-hero@2x.webp 2x">
            <img class="hero__image" src="/img/hero/phone-hero.webp" alt="two eco bags">
        </picture>
    </div>
    
</section>

