<section class="section-support section">
  <div class="div-support container">
    <div class="div-form">
      <h2 class="h-support">Залишились питання? Зв'яжіться з нами!</h2>
      <p class="p-support">Ми тут, щоб допомогти!</p>

      <form class="form-support">
        <ul class="support-list">
          <li class="support-item">
            <label class="label-support" for="user-name">Ім'я</label>
            <input
              class="imp-support"
              type="text"
              id="user-name"
              name="user-name"
              placeholder="Іван"
            />
          </li>

          <li class="support-item">
            <label class="label-support" for="user-email"
              >Електронна пошта</label
            >
            <input
              class="imp-support"
              type="email"
              id="user-email"
              name="user-email"
              placeholder="hello@ecotote.com"
            />
          </li>

          <li class="support-item inp-textar">
            <label class="label-support" for="message">Повідомлення</label>
            <textarea
              class="textarea-support"
              id="message"
              name="message"
              placeholder="Введіть своє повідомлення..."
            ></textarea>
          </li>
        </ul>

        <button class="btn-support" type="submit">Надіслати</button>
      </form>
    </div>
    <div class="img-support"></div>
  </div>
</section>
