<section class="section-support section">
  <div class="div-support container">
    <div class="div-form">
      <h2 class="h-support">Залишились питання? Зв'яжіться з нами!</h2>
      <p class="p-support">Ми тут, щоб допомогти!</p>

      <form class="form-support">
        <ul class="support-list">
          <li class="support-item">
            <label class="label-support" for="user-name">Ім'я</label>
            <input
              class="imp-support"
              type="text"
              id="user-name"
              name="user-name"
              placeholder="Іван"
            />
          </li>

          <li class="support-item">
            <label class="label-support" for="user-email"
              >Електронна пошта</label
            >
            <input
              class="imp-support"
              type="email"
              id="user-email"
              name="user-email"
              placeholder="hello@ecotote.com"
            />
          </li>

          <li class="support-item inp-textar">
            <label class="label-support" for="message">Повідомлення</label>
            <textarea
              class="textarea-support"
              id="message"
              name="message"
              placeholder="Введіть своє повідомлення..."
            ></textarea>
          </li>
        </ul>

        <button class="btn-support" type="submit">Надіслати</button>
      </form>
    </div>
    <picture>
      <source
        media="(min-width:1440px)"
        srcset="
          ../img/support/support_desk_paket@1x.webp 1x,
          ../img/support/support_desk_paket@2x.webp 2x
        "
      />
      <source
        media="(min-width:767px)"
        srcset="
          ../img/support/support_tabl_paket_@1x.webp 1x,
          ../img/support/support_tabl_paket_@2x.webp 2x
        "
      />
      <img
        class="img-support"
        src="../img/support/support_paket@1x.webp"
        srcset="
          ../img/support/support_paket@1x.webp 1x,
          ../img/support/support_paket@2x.webp 2x
        "
        alt="paket_:D"
      />
    </picture>
  </div>
</section>
