.advantage-section {
  font-family: Comfortaa;
  min-width: 288px;
}

.advantage-section-description-box {
  display: flex;
  flex-direction: column;
  /* width: 288px; */
}
.advantage-section-name-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #030a06;
  margin-bottom: 12px;
  font-family: Fira Sans;
}
.advantage-section-title {
  font-weight: 700;
  font-size: 36px;

  line-height: 43px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  margin-bottom: 20px;
}
.advantage-section-text {
  font-weight: 400;
  font-size: 16px;

  line-height: 1.6;
  color: #030a06;
  margin-bottom: 48px;
  font-family: Fira Sans;
}
.advantage-section-image-box {
  display: flex;
  gap: 24px;
}
.advantage-section-imagine-and-descriptoin-block {
  gap: 24px;
}

.advantage-section-text-description {
  font-weight: 400;
  font-size: 16px;

  /* line-height: 26px; */
  line-height: 1.6;
  color: #030a06;
  margin-bottom: 48px;
  font-family: Fira Sans;
}

.advantage-section-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  color: #030a06;
  margin-top: 4px;
}
@media screen and (min-width: 768px) {
  .advantage-section-imagine-and-descriptoin-block {
    display: flex;
    flex-wrap: wrap;
  }
  .advantage-section-img {
    width: 340px;
  }

  .advantage-section-imagine-and-descriptoin-block {
    display: grid;
    gap: 24px;
    height: 100vh;
    grid-template-areas:
      'A A A   B B B'
      'A A A   B B B'
      'A A A   B B B'
      'C C C   C C C'
      'C C C   C C C'
      'C C C   C C C';
  }
  .picture-1 {
    width: 100%;
    height: auto;

    grid-area: A;
  }
  .picture-2 {
    width: 100%;
    height: auto;

    grid-area: B;
  }
  .picture-3 {
    width: 100%;
    height: auto;

    grid-area: C;
  }
  .advantage-section-name-text {
    margin-bottom: 16px;
    line-height: 1.5;
  }
  .advantage-section-title {
    margin-bottom: 24px;
  }
  .advantage-section-text {
    font-size: 18x;
  }
  .advantage-section-subtitle {
    margin-top: 32px;
    margin-bottom: 8px;
  }
  .advantage-section-text-description {
    margin-bottom: 32px;
  }
  .advantage-section-text {
    margin-bottom: 0;
  }
  .position {
    margin-top: 42px;
  }
}
@media screen and (min-width: 1440px) {
  .advantage-section-title {
    font-size: 48px;
  }
  .advantage-section-subtitle {
    font-size: 32px;
    margin-bottom: 24px;
  }
  .advantage-section-imagine-and-descriptoin-block {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .advantage-section-text-description {
    font-size: 18px;
    margin-bottom: 80px;
  }
  .advantage-section-name-text {
    margin-bottom: 16px;
  }
  .position {
    margin-top: 0;
  }
}
