:root {
  --font-family: 'Fira Sans', sans-serif;
  --second-family: 'Comfortaa', sans-serif;

  --font-size-1: 14px;
  --font-size-2: 16px;
  --font-size-3: 18px;
  --font-size-4: 20px;
  --font-size-5: 32px;
  --font-size-6: 48px;
  --font-size-7: 56px;

  --letter-spacing-1: 0.01em;

  --line-height-1: 1.2;
  --line-height-2: 1.4;
  --line-height-3: 1.5;
  --line-height-4: 1.6;

  --color-neutral-darkest: #030a06;
  --color-neutral-lighter: #d9dad9;
  --color-white: #fff;
  --color-neutral-lightest: #f2f2f2;
  --color-neutral-light: #b3b5b4;
  --color-neutral: #818482;
  --color-neutral-dark: #4e5350;
  --color-neutral-darker: #1c221e;
  --opacity-transparent: rgba(255, 255, 255, 0);
  --opacity-neutral-darkest-15: rgba(3, 10, 6, 0.15);
  --color-emerald-lightest: #ebf8ed;
  --color-emerald-lighter: #d7f2db;
  --color-emerald-light: #75d281;
  --color-emerald: #3ac04c;
  --color-emerald-dark: #2e993c;
  --color-emerald-darker: #174c1e;
  --color-emerald-darkest: #113916;
  --color-error-red: #d64040;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-3);
  line-height: var(--line-height-4);
  color: var(--color-neutral-darkest);
  background-color: var(--color-emerald-lightest);

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}

/* Styles for Mobile devices */
section {
  padding: 32px 0;
}

/* Styles for Tablet and Desktop devices */
@media only screen and (min-width: 768px) {
  section {
    padding: 64px 0;
  }
}
