.footer {
  padding: 48px 0;
  background-color: #75d281;
}
.footer__content {
  display: flex;
  flex-direction: column;
}
.footer__content__nav {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer__logo {
  width: 281px;
  height: 121px;
  margin: 0 auto 48px;
}
.footer__nav {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
}
.footer__nav-list {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 32px;
}
.footer__nav-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #030a06;
  text-align: center;
}
.footer__nav-item__link {
  display: block;
  position: relative;
}
.footer__nav-item > a {
  position: relative;
  color: currentColor;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__nav-item > a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  transform: scale(0);
  transform-origin: center;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__nav-item > a:hover::after {
  transform: scale(1);
}
.footer__nav-item > a:active::after {
  transform: scale(1);
  background-color: #3ac04c;
}
.footer__nav-item > a:active {
  color: #3ac04c;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: center;
  margin-bottom: 48px;
}
.footer__social-item {
  width: 32px;
  height: 32px;
}
.footer__social-link > svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__social-item:hover .footer__social-link > svg,
.footer__social-item:focus .footer__social-link > svg {
  fill: #ff0000;
  stroke: #00f7ff;
}
.footer__social-link {
  display: block;
  width: 100%;
  height: 100%;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-style: normal;
  padding: 24px 0;
  border-top: solid 1px;
}
.footer__contacts-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px;
}

.footer__contacts-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  transform: scale(0);
  transform-origin: center;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    width 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__contacts-list > li:hover .footer__contacts-link::after,
.footer__contacts-list > li:focus .footer__contacts-link::after {
  transform: scale(1);
}

.footer__contacts-link {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #030a06;
}
.footer__copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  color: #030a06;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 64px 0;
  }
  .footer__logo {
    width: 164.25px;
    height: 70px;
    margin: 0 auto 32px;
  }
  .footer__nav {
    margin-bottom: 32px;
  }
  .footer__nav-list {
    flex-direction: row;
  }
  .footer__social-item {
    width: 40px;
    height: 40px;
  }
  .footer__social-list {
    margin-bottom: 24px;
  }
  .footer__contacts {
    padding: 15px 0;
  }
  .footer__contacts-list {
    flex-direction: row;
    gap: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .footer {
    padding: 80px 0;
  }
  .footer__content__nav {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 52px;
  }
  .footer__nav {
    flex-direction: row;
    gap: 208px;
  }
  .footer__logo {
    margin: 0;
  }
  .footer__nav {
    margin: 0;
    align-items: center;
  }
  .footer__social-list {
    margin: 0;
  }
  .footer__social-item {
    width: 24px;
    height: 24px;
  }
}
