.gallery__title {
  font-family: var(--second-family);
  font-size: 36px;
  line-height: var(--line-height-1);
  letter-spacing: var(--letter-spacing-1);
  text-align: center;
  margin-bottom: 16px;
}
.gallery__subtitle {
  font-weight: 400;
  font-size: var(--font-size-3);
  line-height: var(--line-height-4);
  text-align: center;
  margin-bottom: 32px;
}

.gallery__list {
  display: grid;
  grid-template-columns: 288px;
  row-gap: 16px;
  grid-template-areas:
    'a'
    'b'
    'c'
    'd';
}

.gallery__item-a {
  grid-area: a;
}
.gallery__item-b {
  grid-area: b;
}

.gallery__item-c {
  grid-area: c;
}
.gallery__item-d {
  grid-area: d;
}

@media only screen and (min-width: 768px) {
  .gallery__list {
    display: grid;
    grid-template-columns: 338px 340px;
    grid-template-rows: repeat(3, 338px);
    row-gap: 24px;
    column-gap: 26px;
    grid-template-areas:
      'd b'
      'c b'
      'c a';
  }

  .gallery__item-c {
    max-width: 340px;
    height: 700px;
  }

  .gallery__title {
    margin-bottom: 24px;
  }
}

@media only screen and (min-width: 1440px) {
  .gallery__list {
    display: grid;
    grid-template-columns: repeat(3, 421px);
    grid-template-rows: repeat(2, 421px);
    row-gap: 23px;
    column-gap: 24px;
    grid-template-areas:
      'd b c'
      'a b c';
  }

  .gallery__item-b {
    max-width: 421px;
    height: 865px;
  }

  .gallery__item-c {
    max-width: 421px;
    height: 865px;
  }

  .gallery__title {
    font-size: var(--font-size-6);
  }
}
