.page-header {
    background-color: #75d281;
    position: sticky;
    z-index: 998;
    top: 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav-list,
.header-contacts {
    display: none;
}

.header-logo-link {
    display: block;
    padding: 14px 0;
}

.burger-btn {
    padding: 8px;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #030a06;
}

@media only screen and (min-width: 1440px) {
    .burger-btn {
        display: none;
    }    

    .header-nav {
        display: flex;
        align-items: center;
        
    }

    .header-logo-link {
        padding: 13px 0;
    }

    .header-logo {
        width: 107px;
        height: 46px;
    }

    .header-nav-list {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        gap: 32px;
    }
    
    .header-nav-item {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.6;
        color: #030a06;
    }

    .header-nav-item .header-nav-link {
        position: relative;
        color: currentColor;
        transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-nav-item .header-nav-link::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -3px;
        width: 100%;
        height: 2px;
        background-color: currentColor;
        transform: scale(0);
        transform-origin: center;
        transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-nav-item .header-nav-link:hover::after {
        transform: scale(1);
    }

    .header-nav-item .header-nav-link:active::after {
        transform: scale(1);
        background-color: #3ac04c;
    }

    .header-nav-item .header-nav-link:active {
        color: #3ac04c;
    }

    .header-contacts {
        display: flex;
    }

    .header-contacts-list {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 16px;
    }

    .header-contacts-link {
        position: relative;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.6;
        color: #030a06;
        font-style: normal;
    }

    .header-contacts-item .header-contacts-link::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -3px;
        width: 100%;
        height: 2px;
        background-color: currentColor;
        transform: scale(0);
        transform-origin: center;
        transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1),
        width 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}


    .header-contacts-item .header-contacts-link:hover::after,
    .header-contacts-item .header-contacts-link:focus::after {
        transform: scale(1);
}
}   

/* #region mobile menu */
.mobile-menu {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #75d281;

    
    visibility: hidden;
    pointer-events: none;

    transform: translateY(-100%);
    transition: transform 1500ms cubic-bezier(0.4, 0, 0.2, 1),        
        visibility 2000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {    
    visibility: visible;
    pointer-events: auto;
    transform: translateY(0%);
    transition: transform 1500ms cubic-bezier(0.4, 0, 0.2, 1),        
        visibility 3000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
}

.mobile-btn-close {
    position: absolute;
    top: 8px;
    right: 12px;
    background-color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    width: 48px;
    height: 48px;
    border: none;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-icon-close {
    fill: #030a06;
}

.mobile-menu-nav {
    display: flex;
    flex-direction: column;
}

.mobile-logo-link {
    display: block;
    padding-top: 14px;
    padding-right: 12px;
    padding-bottom: 14px;
    padding-left: 20px;
}

.mobile-nav-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 32px;
    padding: 32px 20px;
    
}

.mobile-nav-item {
    width: 100%;
}

.mobile-nav-link {
    display: inline-block;    
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #030a06;
}

.mobile-nav-item .mobile-nav-link {
    position: relative;
    color: currentColor;
    transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-nav-item .mobile-nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    transform: scale(0);
    transform-origin: center;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-nav-item .mobile-nav-link:hover::after {
    transform: scale(1);
}

.mobile-nav-item .mobile-nav-link:active::after {
    transform: scale(1);
    background-color: #3ac04c;
}

.mobile-nav-item .mobile-nav-link:active {
    color: #3ac04c;
}

.mobile-contacts {
    padding-top: 32px;
    padding-bottom: 92px;
}

.mobile-contacts-list {
    font-style: normal;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    padding: 32px 20px 0px;
}

.mobile-contacts-item {
    width: 100%;
    
}

.mobile-contacts-link {
    position: relative;
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #030a06;
}

.mobile-contacts-item .mobile-contacts-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    transform: scale(0);
    transform-origin: center;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    width 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}


.mobile-contacts-item .mobile-contacts-link:hover::after,
.mobile-contacts-item .mobile-contacts-link:focus::after {
    transform: scale(1);
}

@media only screen and (min-width: 768px) {
    .mobile-btn-close {
        top: 8px;
        right: 16px;
}

.mobile-logo-link {    
    padding-right: 16px;
    padding-left: 32px;
}

.mobile-nav-list {    
    padding-right: 32px;
    padding-left: 32px;
}



.mobile-contacts {
    padding-top: 0px;
}

.mobile-contacts-list {
    padding: 32px 32px 0px 32px;
}
}
/* #endregion mobile menu */
