/* .page-header {
    background-color: #75d281;
} */

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav-list,
.header-contacts {
    display: none;
}

.header-logo-link {
    display: block;
    padding: 14px 0;
}

.burger-btn {
    padding: 8px;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #030a06;
}







/* #region mobile menu */
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-btn-close {
    position: absolute;
    top: 8px;
    right: 12px;
    background-color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    width: 48px;
    height: 48px;
    border: none;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-icon-close {
    fill: #030a06;
}
/* #endregion mobile menu */